.script-editor {
  height: 400px;
}
.terminal {
  height: 250px;
}
.section-detail h2.header {
  padding: 0;
  margin: 0.5em 0 0.5em 0;
}
.section-terminal h3.header {
  padding: 0;
  margin: 0 0 0.5em 0;
}
.section-actions {
  padding: 0.5em;
  text-align: center;
}
ol.treeview {
  padding: 0 0 0 30px;
  /*
	li.file a[href *= '.pdf'] {
		background: url(document.png) 0 0 no-repeat;
	}

	li.file a[href *= '.html'] {
		background: url(document.png) 0 0 no-repeat;
	}

	li.file a[href $= '.css'] {
		background: url(document.png) 0 0 no-repeat;
	}

	li.file a[href $= '.js'] {
		background: url(document.png) 0 0 no-repeat;
	}*/
}
ol.treeview li {
  position: relative;
  margin-left: -15px;
  list-style: none;
  min-height: 1.5em;
}
ol.treeview li.file {
  margin-left: -1px !important;
}
ol.treeview li.file a {
  background: url(document.png) 0 0 no-repeat;
  padding-left: 21px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
ol.treeview li input[type="checkbox"] {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
  visibility: visible;
}
ol.treeview li input[type="checkbox"] + ol {
  background: url(toggle-small-expand.png) 40px 0 no-repeat;
  margin: -1.5em 0 0 -40px;
  height: 1em;
  line-height: 1.5;
}
ol.treeview li input[type="checkbox"] + ol > li {
  display: none;
}
ol.treeview li.directory > a {
  background: url(folder-horizontal.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
  margin: 0;
}
ol.treeview li input[type="checkbox"]:checked + ol {
  background: url(toggle-small.png) 40px 0 no-repeat;
  margin: -1.5em 0 0 -40px;
  padding: 1.5em 0 0 70px;
  height: auto;
}
ol.treeview li input[type="checkbox"]:checked + ol > li {
  display: block;
}
ol.treeview li.active > a {
  background-color: #0094ff;
  color: white;
}
#d3ployApp .terminal {
  border: 1px solid #CCCCCC;
  background: black;
  overflow: scroll;
}
#d3ployApp .terminal div.line {
  margin-bottom: 5px;
}
#d3ployApp .terminal input {
  width: 90%;
  height: 1.1em;
  margin: 1px 0 1px 0;
  border: none;
  display: inline;
  padding: 2px;
  background: black;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Consolas, Monaco, monospace;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}
#d3ployApp .terminal input:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}
#d3ployApp .terminal input[disabled] {
  cursor: default;
}
#d3ployApp .terminal p,
#d3ployApp .terminal pre {
  margin: 2px;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  background: black;
  font-family: Consolas, Monaco, monospace;
  border: 0;
}
#d3ployApp .terminal p.msg-error,
#d3ployApp .terminal pre.msg-error {
  color: #FF3300;
}
#d3ployApp .terminal a {
  color: #6495ED;
}
#d3ployApp .terminal span.prompt {
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 2px;
}
/* Palette generated by Material Palette - materialpalette.com/brown/orange */
h2.header {
  font-size: 2em;
}
h3.header {
  font-size: 1.6em;
}
h4.header {
  font-size: 1.3em;
}
nav {
  background-color: #795548;
  color: #FFFFFF;
}
.btn,
.btn:hover,
.btn:focus {
  background-color: #FF9800;
  color: #FFFFFF;
}
ol.treeview li > a {
  color: #212121;
}
ol.treeview li.active > a {
  background-color: #FF9800;
  color: #FFFFFF;
}
.collapsible .collection {
  border: 0;
}
a {
  cursor: pointer;
}
